@page
@model OrderDelivery.API.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>
        Здесь Вы можете заказать доставку груза. Перейдите на <a class="nav-link text-dark" asp-page="/CreateOrder/Index">Создать заказ</a>, чтобы создать заказ на доставку,
        или перейдите на <a class="nav-link text-dark" asp-page="/OrdersList/Index">Список заказов</a>, чтобы посмотреть открытые заказы.
    </p>
</div>
